extends ../layout.jade

block content
  if (!user)
    .login
      .login__options
        a.login__button(href="/login") Login
        a.login__button(href="/register") Register
  if (user)
    #map
    .login
      .login__message Welcome #{user.username}!
        a.login__button(href="/logout") Logout
