.button {
  background-color: transparent;
  border: 0;
  color: inherit;

  &.button--primary {
    min-width: 80px;
    background-color: $primary-green-color;
    color: $base-white-color;
    padding: 10px;
    margin: 10px 0;
    border-radius: $border-radius-base;

    &:hover {
      background-color: darken($primary-green-color, 30%);
    }
  }
}
