doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet", href="/assets/stylesheets/public/main.css")
    link(rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css")
    
  body
    block content
    #map(style="display: none")
    
  script(src="http://code.jquery.com/jquery.js")
  script(src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js")
  script(src="/assets/javascripts/public/bundle.js")
    
